<div class="login">
    <div class="module form-module email-form">
        
         <div class="form">
            <h2>Login to your account</h2>
            <form>
                <Input id="userid" type="text" @value={{this.data.tempId}} placeholder="email/userid" />
                <button id="check" type="submit" onclick={{action 'login'}}>Login/Register</button>
            </form>
            <p id="login-info"></p>
        </div>
    </div>
    <div class="module form-module password-form">
        
         <div class="form">
            <h2>Login to your account</h2>
           <form >
                <input id="password" type="password"   />
                <LinkTo @route="forgotpassword" style="color: rgb(57, 160, 223);">forgot password?</LinkTo>
                <button  id="login" type="submit" onclick={{action 'login'}}>Login</button>
               
            </form>
           
        </div>
    </div>
</div>


{{!-- 



<h3>Login</h3>
    <div class="form">
        <label for="user-id">user id/emailid</label>
        <Input @type="text" id="user-id" @value={{this.data.userId}}/>
        <label for="password">password</label>
        <Input @type="password" id="password" @value={{this.data.password}} onchange={{this.checkPassword}}/>
         <p class="info" id="password-info"></p> 
        <button id="submit" type="button" {{on 'click' this.login}}>Login</button>
    </div>
    <p id="login-info"></p> --}}