<div class="register">
      <div class="module form-module">
        <div class="toggle"><i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Click Me</div>
        </div>
         <div class="form register-form">
            <h2>Create an account</h2>
            <form class="needs-validation">
                
                <Input @type="text" @value={{this.userName}} onchange={{action 'checkName'}} placeholder="Username" required/>
                <p id="username-info" class="info"></p>
                <Input @type="text"@value={{this.location}}  onchange={{action 'checkLocation'}} placeholder="Location" />
                <p id="location-info" class="info"></p>
                <Input @type="text" @value={{this.phoneNo}}  onchange={{action 'checkPhoneNo'}} placeholder="Phone Number"/>
                <p id="phoneno-info" class="info"></p>
                <div class="gender-div">
                  <label for="gender" class="gender">Gender</label><select name="gender" id="gender" class="input gender" value={{this.gender}} {{on 'change' this.setGender}} >
                  <option value="default">Select</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="other">Others</option>
              </select>
                </div>
              <Input @type="date" @value={{this.dateOfBirth}} onchange={{action 'checkDob'}} required/>
                <p id="date-info" class="info"></p>
                <Input id="password" @type="password" @value={{this.password}} placeholder="min 8 chars 1 caps 1 small letter  1 number" title="min 8 characters atleast 1 uppercase 1 lowercase  1 number" onchange={{action 'checkPassword'}} required/>
                <p id="password-info" class="info" ></p>
                <button type="submit" onclick={{action 'next'}}>Next</button>
                <p id="register-info"></p>
            </form>
      </div>
     <form class="form security">
        <label for="question1">Which is your childhood pet Name</label>
        <Input @type="text" name="question1" @value={{this.question1}} required/>
        <label for="question2">Which is your Favourite Actor</label>
        <Input @type="text" name="question2" @value={{this.question2}} required/>
        <button type="submit" onclick={{action 'register'}}>Register</button>
     </form>
    </div>
    
    
</div>


{{!-- <div class="form">
        <label for="username">User Name</label>
      <Input @type="text" id="username" @value={{this.userName}}  onchange={{action 'checkName'}} />
          <p class="info" id="username-info"></p> 
         <label for="dateofbirth">Date of birth</label>
      <Input @type="date" id="dateofbirth" @value={{this.dateOfBirth}}/>
         <label for="location">location</label>
      <Input @type="text" id="location" onchange={{action 'checkLocation'}} @value={{this.location}}/>
          <p class="info" id="location-info"></p> 
      <div class="input">
            <label for="gender">Gender</label><select name="gender" id="gender" class="input" value={{this.data.bioData.gender}} {{on 'change' this.setGender}} >
               <option value="default">Select</option>
            <option value="Male">Male</option>
            <option value="Male">female</option>
            <option value="other">Others</option>
        </select>
         </div>
          <p class="info" id="gender-info"></p> 
        <label for="phoneno">Phoneno</label>
      <Input @type="text" id="phoneno"  onchange={{action 'checkPhoneNo'}}  
        @value={{this.phoneNo}}/>
          <p class="info" id="phoneno-info"></p> 
        <button id="submit" type="button" {{on 'click' this.register}}>Register</button>
    </div>
    <p id="register-info"></p> --}}