{{page-title "Forgotpassword"}}
<div class="forgot">
    <div class="login">
        <div class="module form-module email-form">

            <div class="form">
                <h2>Login to your account</h2>
                <form>
                    <label for="question1">Which is your childhood pet Name</label>
                    <Input @type="text" name="question1" @value={{this.question1}} required />
                    <label for="question2">Which is your Favourite Actor</label>
                    <Input @type="text" name="question2" @value={{this.question2}} required/>
                    <Input id="password" @type="password"  placeholder="Password : hover to show constrains" title="min 8 characters atleast 1 uppercase 1 lowercase  1 number contains any one 1  of ($@.)"  onchange={{action 'checkPassword'}} @value={{this.password}}   required/>
                     <p id="password-info" class="info" ></p>
                    <button id="login" type="submit" onclick={{action 'forgot'}}>ChangePassword</button>
                </form>

                <p id="login-info"></p>
            </div>
        </div>
    </div>
</div>