{{page-title "Writer"}}
{{this.getBioData}}
{{this.setToday}}
{{this.setPreviousDay}}
{{this.lastTwo}}

<div class="writer">
    <div class="selection-panel">
        <div class="my-details">
            
        <LinkTo @route="writer.biodata">
            <div class="profile-pic"></div>
        </LinkTo>
            <h1 id="name">{{this.datas.bioData.name}}</h1>
        </div>
        <div class="links">
             <a><button id="filter-link" type="button" {{on 'click' this.toggle}}>Dates
             </button></a>
    <div class="quick-links quick-drop">
        <div class="quick" value={{this.today}}><LinkTo @route="writer.view" @model={{this.today}} >Today</LinkTo></div>
        <div class="quick" ><LinkTo @route="writer.view" @model={{this.previousDay}} >Yesterday</LinkTo></div>
        {{#each this.lastTwoDates as |last|}}
        <div class="quick"><LinkTo @route="writer.view" @model={{last}}>{{last}}</LinkTo></div>
        {{/each}}
        <div class="quick">By Month
        <select size="1" name="month" id="month" {{on 'change' this.searchDates}}>
            <option value="month">Month</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        </div>
        <div class="quick">By Year
        <select name="year" id="year" {{on 'change' this.searchDates}}>
            <option value="year">Year</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
        </select>
        </div>
        <div class="quick">Got To
            <Input @type="date" {{on 'change' this.goTo}}/>
        </div>
    </div>
    

             <LinkTo @route="writer.view" @model={{this.today}} id="view-link">viewer</LinkTo>
             <LinkTo @route="writer.stared">stared</LinkTo>
             <LinkTo @route="writer.editer">Edit</LinkTo>
        </div>
    </div>
    <div class="outlet">
        <button id="logout" type="button" {{on 'click' this.logout}}>
            <span class="material-symbols-outlined">logout</span>
        </button>
        {{outlet}}
    </div>

</div>


