{{page-title "Writer"}}
{{this.getBioData}}
{{this.setToday}}
{{this.setYesterday}}
{{this.lastTwo}}
<div class="diary d-flex flex-column">
    <Header @heading="title"/>
    <div class="blur">

    </div>
    <div class="outlet d-flex">
        <AddNote/>
        <NavBar/>
        {{outlet}}
        <Page/>
         <MediaViewer/>
    </div>
   
   
</div>

