{{page-title "Stared"}}
{{this.onLoad}}
<div class="stared">
       {{#each this.data.notes as |text|}}
        <Note @id={{text.id}}  @media={{text.media}}  @title={{text.title}} @text={{text.text}} @date={{text.time}} @stared={{text.stared}} @editable={{editable text.time this.data.today}}/>
        {{/each}}
</div>